# nginx.conf

server {
    listen 8000;
    server_name 0.0.0.0;

    location /api/ {
        rewrite  ^/api/(.*)  /$1 break;
        proxy_set_header Host $http_host;
        proxy_pass http://${PQ_API_SERVER}:${PQ_API_PORT}/;
        client_max_body_size 999M;
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://${PQ_UI_SERVER}:${PQ_UI_PORT}/;
    }
}
